.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.56rem;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1300px) {
  .main {
    padding: 0;
  }
}
