.card-wrapper {
  width: 9.06rem;
  height: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}

.card-wrapper img {
  width: fit-content;
  height: fit-content;
}

.card-wrapper__name {
  height: 2.25rem;
  width: 100%;
  background: #00000050;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0 0 0.25rem 0.25rem;
  padding:0 0.63rem
}
