.pokemon-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 1.25rem 0;
  color: #777;
}
.pokemon-stats__name {
  font-size: 0.69rem;
}
.pokemon-stats__name::first-letter {
  text-transform: uppercase;
}

.pokemon-stats__content-wrapper {
  display: flex;
  align-items: center;
  width: 8.13rem;
  justify-content: space-between;
}

.pokemon-stats__progress-outer {
  width: 5.62rem;
  height: 0.31rem;
  background: #dbdbdb;
  position: relative;
}

.pokemon-stats__progress-inner {
  height: 100%;
  background: #4ea2f3;
  position: absolute;
  top: 0;
  left: 0;
}

.pokemon-stats__points {
  margin: 0 0 0 1.56rem;
  font-size: 0.69rem;
}
